body {
  font-family: Arial, sans-serif;
  color: #333;
}
header, section {
  padding-left: 10px;
  padding-right: 10px;
}
#outputContainer, #visualizeContainer {
  font-size: 1.1em;
  margin-top: 20px;
  color: #ccc;
}
#output, #visualizeContainer {
  border: 1px solid #ccc;
  background: #333;
}
#output {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
#output pre {
  margin: 20px 25px;
}
#visualizeSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  box-sizing: border-box;
}
#visualizeContainer {
  position: relative;
  flex-grow: 1;
}
#visualizeStats {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: .7em;
}
#visualize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2px;
  overflow: hidden;
  box-sizing: content-box;
}
#visualize div {
  background: #ccc;
  flex-grow: 1;
  transform-origin: bottom;
}
#visualize.height div {
  height: 100%;
}
#visualize.color div, #visualize.grayscale div {
  height: 48%;
  position: absolute;
  left: 50%;
  top: 1%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
#visualize.height div.compare {
  background-color: #f9ff87;
}
#visualize.color div.compare {
  border-top: 8px solid #f9ff87;
}
#visualize.grayscale div.compare {
  outline: 3px dotted #fff;
}
#visualize.height div.swap {
  background-color: #ffa0a0;
}
#visualize.color div.swap {
  border-top: 8px solid #ffa0a0;
}
#visualize.grayscale div.swap {
  outline: 3px dashed #fff;
}
#visualize.height div.sorted {
  background-color: #a6ff8c;
}
#visualize.color div.sorted {
  border-top: 3px solid #a6ff8c;
}
#visualize.grayscale div.sorted {
  border-top: 5px ridge #666;
}

/* Totally crazy styles. */
#visualizeContainer {
  perspective: 80vh;
  overflow: hidden;
}
#visualize.perspective {
  transform: translateY(-10vh) scaleY(2) scaleX(2) rotateX(70deg) rotateY(15deg) rotateZ(-45deg);
}

input[type=number] {
  max-width: 40px;
}
button:disabled, input:disabled, select:disabled {
  background: #666;
  color: #000;
  cursor: not-allowed;
}
#compareElements, #visualizeElements {
  max-width: 100px;
}
button, input, select {
  background: #ccc;
  color: #333;
  border: 1px solid #333;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 2px;
}
